<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/start_page.css">
    <link rel="stylesheet" href="/css/components/drop_menu.css">
    <link rel="stylesheet" href="/css/components/navbar.css">
    <link rel="stylesheet" href="/icons/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="/icons/fontawesome/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css">
    <title>Inicio | Administrador</title>
   </head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <img src="/img/logo_white.png" alt="" width="60" height="60">
        </div>
        <%- include ('partials/menu.ejs')%>
    </div>
   
    <section class="home-section">

      <%- include ('partials/header.ejs')%>

<hr>
<H5 class="text-center">Matricula de Aprendices</H5>
<hr>

      <div class='container'>

        <button type="button"  class="btn btn-primary" onclick="nuevoAprendiz()">Nuevo</button>
               
        <table  class="table table-striped" id="tablaInstructores">
            <thead>
                <tr class="line-head">
                
                    <th>IDENTIFICACIÓN</th>
                    <th>NOMBRES</th>
                    <th>FICHA</th>
                    <th>PROGRAMA</th>
                    <th>ESTADO</th>
                    <th>Admin.</th>  
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

     </div>
   </section>


   <div class="modal fade" id="Frm_NuevoAprendiz" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Resgistrar Nuevo Aprendiz</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#basico" type="button" role="tab" aria-controls="home" aria-selected="true">DATOS BÁSICOS</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#ficha" type="button" role="tab" aria-controls="profile" aria-selected="false">DATOS DE LA MATRICULA</button>
            </li>
            
             
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="basico" role="tabpanel" aria-labelledby="home-tab">
                <h4 class="text-center">Datos del Aprendiz</h4>
                <input type="number" class="form-control" id='id_persona' disabled > 
                         
                <form>
                  <div class="mb-2">
                    <div class="row">
                      <div class="col-5">
                          <label for="message-text" class="col-form-label">Identificacion:</label>
                          <input type="number" class="form-control" id='identificacion' placeholder="Digite la identificación"> 
                         
                      </div>
                      <div class="col-2">
                       <a class="btn btn-primary mt-4" href="javaScript:buscarAprendiz()">Buscar</a>
                    </div>
  
                      <div class="col-5">
                          <label for="message-text" class="col-form-label">Nombres:</label>
                          <input type="text" class="form-control" id='nombres' placeholder="Digite el nombre del aprendiz">  
                      </div>
                   </div>
  
                  <div class="row">
                      <div class="col-6">
                          <label for="message-text" class="col-form-label">Telefono:</label>
                          <input type="text" class="form-control" id='telefono' placeholder="Digite el telefono">  
                      </div>
  
                      <div class="col-6">
                          <label for="message-text" class="col-form-label">Correo:</label>
                          <input type="text" class="form-control" id='correo' placeholder="Digite el correo">  
                      </div>
                   </div>
  
                  <div class="row">
                    <div class="col-12">
                        <label for="message-text" class="col-form-label">Municipio:</label>
                        <select id='municipios' class="form-control" >
                        </select>
                    </div>
                 </div>
  
                 <div class="modal-footer">
                    <button type="button"  class="btn btn-primary" onclick="registrarAprendiz()">Registrar</button>
                </div>
              </div>
               </form>        
            </div> 
  
  
            <div class="tab-pane fade" id="ficha" role="tabpanel" aria-labelledby="profile-tab">
              <h4 class="text-center">Datos de la Ficha</h4>
              <form>
                <div class="mb-2">
  
                  <div class="row">
                
                    <div class="col-12">
                      <label for="message-text" class="col-form-label">Ficha:</label>
                      <select id="fichas" class="form-control" >
                      </select>
                    </div>
    
                 </div>
             
                        
  
                <div class="row">
                 
                  <div class="col-6">
                    <label for="message-text" class="col-form-label">Transversales Pendientes:</label>
                    <input type="number" id="transversal" class="form-control" value="0">                 
                  </div>
                  <div class="col-6">
                    <label for="message-text" class="col-form-label">Tecnicos Pendientes:</label>
                  <input type="number" id="tecnico" class="form-control" value="0">                
                  </div>
  
               </div>
  
            
             <div class="row">
              <div class="col-6">
                <label for="message-text" class="col-form-label">Ingles Pendientes:</label>
                <input type="number" id="ingles" class="form-control" value="0">                 
              </div>
              <div class="col-6">
                <label for="message-text" class="col-form-label">Estado:</label>
                <select id="estado" class="form-control" >
                  <option selected disabled>Seleccione una opción</option>
                  <option value="Inducción">Induccion</option>
                  <option value="Formación">Formación</option>
                  <option value="Condicionado">Condicionado</option>
                  <option value="Retiro Voluntario">Retiro Voluntario</option>
                  <option value="Cancelado">Cancelado</option>
                  <option value="Por Certificar">Por Certificar</option>
                  <option value="Certificado">Certificado</option>
                 
                </select>
              </div>
           </div>
               <div class="modal-footer">
                  <button type="button"  class="btn btn-primary" onclick="registrarMatricula()">Registrar</button>
              </div>
            </div>
             </form>   
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>












   
    <%- include ('./partials/scripts.ejs')%>
</body>

<script src="./js/matricula.js"></script>
</html>
