<ul class="nav-links">
    <li class="general">
        <a href="#">
            <i class='bx bx-grid-alt' ></i>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">General</a></li>
        </ul>
    </li>
    <li><hr class="solid"></li>

    <li>
        <a href="#"><i class='bx bxs-group'></i> </a>

        <ul class="sub-menu blank">
            <li><a class="link_name" href="/matriculaAprendiz">Matricula Aprendices</a></li>
        </ul>
    </li>

    <li>
        <a href="#"><i class='bx bx-collection'></i> </a>

        <ul class="sub-menu blank">
            <li><a class="link_name" href="/desplegarEtapaPractica">Gestionar Seguimientos</a></li>
        </ul>
    </li>


   
   
    <li>
        <a href="./horario_page_admin.html">
            <i class='bx bxs-time' ></i>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="./horario_page_admin.html">Gestionar horario</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class='bx bx-history'></i>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Solicitudes pendientes</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class='bx bx-pie-chart-alt-2' ></i>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Reportes</a></li>
        </ul>
    </li>
    <li><hr class="solid"></li>
    <li>
        <a href="#">
            <i class='bx bx-cog' ></i>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Configuración</a></li>
        </ul>
    </li>
    <li>
        <div class="log-out">
            <a href="#">
                <a href="index.html">
                    <i class='bx bx-log-out'></i>
                </a>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Cerrar Sesión</a></li>
            </ul>
        </div>
    </li>
</ul>